/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
}

/* Sections
     ========================================================================== */

/**
   * Remove the margin in all browsers.
   */

body {
    margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */

main {
    display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */

/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */

hr {
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */

pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/* Text-level semantics
     ========================================================================== */

/**
   * Remove the gray background on active links in IE 10.
   */

a {
    background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */

abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
    /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */

b,
strong {
    font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */

code,
kbd,
samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */

small {
    font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Embedded content
     ========================================================================== */

/**
   * Remove the border on images inside links in IE 10.
   */

img {
    border-style: none;
}

/* Forms
     ========================================================================== */

/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
    background: none;
    /* 1 */
    border: none;
    /* 1 */
    outline: none;
    /* 1 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */

button,
input {
    /* 1 */
    overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */

button,
select {
    /* 1 */
    text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */

button,
[type=button],
[type=reset],
[type=submit] {
    -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */

legend {
    box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */

progress {
    vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */

textarea {
    overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */

[type=search] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */

::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}

/* Interactive
     ========================================================================== */

/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */

details {
    display: block;
}

/*
   * Add the correct display in all browsers.
   */

summary {
    display: list-item;
}

/* Misc
     ========================================================================== */

/**
   * Add the correct display in IE 10+.
   */

template {
    display: none;
}

/**
   * Add the correct display in IE 10.
   */

[hidden] {
    display: none;
}

body {
    font-family: "Gilroy-Regular", sans-serif;
}

.no-webp .main {
    background: transparent url(../img/main.png) no-repeat;
}

.main {
    overflow-x: hidden;
}

.container {
    max-width: 1510px;
    padding: 0 12px;
    margin: 0 auto;
}

.header {
    background: #075f43;
    padding: 30px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.header__flex {
    display: flex;
    align-items: center;
}

.header__user {
    display: flex;
    align-items: center;
    margin-left: 70px;
}

.header__user a {
    display: flex;
    align-items: center;
    position: relative;
}

.header__user a span {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
    color: #393939;
    font-family: "Gilroy-Regular", sans-serif;
    background: #dbab00;
    top: 5%;
    left: 30%;
}

.header__user .btn:not(:last-child) {
    margin-right: 15px;
}

.btn {
    border: 1px solid white;
    border-radius: 10px;
    padding: 7px 25px;
}

.btn p {
    color: white;
    padding-left: 10px;
    font-family: "Gilroy-Medium", sans-serif;
    font-size: 18px;
}

.btn-white {
    background-color: white;
}

.btn-white p {
    color: #1d8f6b;
    font-family: "Gilroy-Medium", sans-serif;
    line-height: 21px;
}

.header__social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}

.header__social a:first-child {
    margin-right: 15px;
}

.header__contact {
    margin-left: 70px;
}

.header__contact a {
    color: white;
    font-size: 18px;
    line-height: 21px;
    font-family: "Gilroy-Medium", sans-serif;
}

.header__menu {
    margin-left: auto;
}

.header__menu .menu li a {
    font-family: "Gilroy-Medium", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
}

.no-webp .hero {
    background: url(../img/banner.png) center center/cover no-repeat;
}

.hero {
    padding: 300px 0;
}

.title {
    font-family: "Arkhip", sans-serif;
    font-size: 60px;
    line-height: 72px;
    text-transform: uppercase;
    color: #075f43;
    max-width: 580px;
    padding-bottom: 60px;
}

.hero__filter {
    padding: 26px 28px;
    background: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    border-radius: 12px;
}

.btn-yelow {
    background: #dbab00;
    box-shadow: 0px 2px 9px rgba(163, 129, 11, 0.51);
    border: none;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Gilroy-Bold", sans-serif;
    padding: 12px 28px;
    cursor: pointer;
}

.custom__select {
    background: #075f43 url(../img/downSelect.svg) 95% center no-repeat;
    border-radius: 10px;
    position: relative;
    padding: 11px 39px;
    max-width: 230px;
    width: 100%;
    cursor: pointer;
}

.custom__select h3 {
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Gilroy-Bold", sans-serif;
}

.custom__select label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.custom__select label:not(:last-child) {
    margin-bottom: 15px;
}

.custom__select label p {
    margin-right: 15px;
    font-size: 14px;
    color: #626262;
}

.custom__select.room .variation {
    height: 0px;
    padding: 0 20px 0 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.custom__select.room .variation label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 40%;
    width: 100%;
    margin-bottom: 15px;
}

.custom__select.room .variation label p {
    font-family: "Gilroy-Bold", sans-serif;
    font-size: 22px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #626262;
}

.custom__select .variation {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    padding: 0 20px 0 20px;
    background: #eeeeee;
    border: 1px solid rgba(223, 223, 223, 0.8);
    border-radius: 10px;
    max-height: 300px;
    overflow: auto;
    transition: all 0.3s linear;
}

.custom__select .variation::-webkit-scrollbar {
    display: none;
}

.custom__select .variation.active {
    padding: 35px 20px 15px 20px;
    height: auto;
}

.hero__filter-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__cheackbox {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 25px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */

.container__cheackbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
}

/* On mouse-over, add a grey background color */

.container__cheackbox:hover input ~ .checkmark {
    background-color: #075f43;
}

/* When the checkbox is checked, add a blue background */

.container__cheackbox input:checked ~ .checkmark {
    background-color: #075f43;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */

.container__cheackbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */

.container__cheackbox .checkmark:after {
    left: 8px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.price .variation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px 0 20px;
}

.price .variation .price__select {
    margin-top: 20px;
    width: 100%;
}

.price .variation .price__select-item {
    background: #ffffff;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 8px 0px 8px 8px;
}

.price .variation .price__select-item span {
    font-family: "Gilroy-Bold", sans-serif;
    display: block;
    padding-right: 10px;
    margin-right: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #626262;
    border-right: 2.5px solid #c4c4c4;
}

.price .variation .price__select-item input {
    border: none;
    outline: none;
    width: 100%;
}

.price .variation label {
    margin-bottom: 0;
}

.price .variation label p {
    font-size: 24px;
}

.price .variation label .checkmark {
    border-radius: 50%;
}

.price .variation label .checkmark:after {
    width: 8px;
    height: 8px;
    background: #fff;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home__flex {
    margin-top: 60px;
}

.home__item {
    background: #ffffff;
    border: 1px solid #cfcfcf;
    box-shadow: 0px 4px 30px #dce3f4;
    border-radius: 20px;
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
}

.home__img {
    max-width: 570px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 60px;
}

.home__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.home__detail {
    width: 50%;
    margin-top: 25px;
}

.home__title {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.home__title h3 {
    font-size: 28px;
    line-height: 34px;
    color: #333333;
    font-family: "Gilroy-Bold", sans-serif;
    margin-bottom: 13px;
}

.home__title p {
    font-size: 14px;
    line-height: 126.7%;
    color: #333333;
    font-family: "Gilroy-Bold", sans-serif;
    max-width: 230px;
}

.home__title button {
    cursor: pointer;
}

.home__title button:hover svg {
    fill: red;
}

.home__title button:hover svg path {
    fill: red;
}

.home__info p {
    font-weight: 500;
    font-size: 14px;
    line-height: 162.7%;
    font-family: "Gilroy-Regular", sans-serif;
    color: #333333;
    margin: 20px 0;
}

.home__price {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid #626262;
    border-bottom: 1px solid #626262;
}

.home__price p {
    font-family: "Gilroy-Bold", sans-serif;
    font-size: 28px;
    line-height: 34px;
    color: #075f43;
}

.home__price > span {
    font-size: 18px;
    line-height: 22px;
    font-family: "Gilroy-Bold", sans-serif;
    color: #626262;
}

.home__manager {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr) [ 2 ];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr) [ 2 ];
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 0 40px;
}

.no-webp .manager__viber a {
    background: url(../img/viber.png) left center no-repeat;
}

.manager__viber a {
    padding-left: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    line-height: 21px;
    color: #626262;
    font-family: "Gilroy-Medium", sans-serif;
}

.manager__name h4 {
    font-size: 21px;
    line-height: 25px;
    font-family: "Gilroy-Bold", sans-serif;
    color: #075f43;
}

.no-webp .manager__phone a {
    background: url(../img/Subtract.png) left center no-repeat;
}

.manager__phone a {
    padding-left: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    line-height: 21px;
    color: #626262;
    font-family: "Gilroy-Medium", sans-serif;
}

.manager {
    display: flex;
    align-items: center;
}

.manager__phone {
    display: flex;
    align-items: center;
}

.manager__viber {
    display: flex;
    align-items: center;
}

.home__manager {
    margin-top: 23px;
}

.manager__img {
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
    width: 46px;
    height: 46px;
}

.manager__img img {
    -o-object-fit: cover;
    object-fit: cover;
}

.section__title {
    margin-bottom: 27px;
}

.section__title h2 {
    font-size: 36px;
    line-height: 43px;
    color: #626262;
    font-family: "Gilroy-Medium", sans-serif;
}

.instagram__item {
    padding: 10px;
    background: #ffffff;
    border: 1px solid #cfcfcf;
    box-shadow: 0px 4px 30px #dce3f4;
    border-radius: 20px;
    max-width: 32%;
    display: block;
    margin-bottom: 55px;
}

.instagram__img {
    border-radius: 20px;
    overflow: hidden;
}

.instagram__detail {
    margin-top: 15px;
}

.instagram__detail p {
    font-size: 16px;
    line-height: 126.7%;
    color: #626262;
    font-family: "Gilroy-Regular", sans-serif;
}

.instagram__flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btn__home {
    margin: 0 auto;
    display: block;
    max-width: 180px;
    padding: 10px 26px;
    background: #ffffff;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    font-size: 16px;
    line-height: 126.7%;
    font-family: "Gilroy-Medium", sans-serif;
    color: #626262;
}

.benefits__img {
    background: #075f43;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100px;
    height: 100px;
}

.benefits__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 33%;
    width: 100%;
    margin-bottom: 55px;
}

.benefits__detail {
    margin-top: 15px;
    max-width: 255px;
}

.benefits__detail h3 {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    font-family: "Gilroy-Bold", sans-serif;
    color: #626262;
}

.benefits__detail p {
    text-align: center;
    font-size: 14px;
    line-height: 126.7%;
    font-family: "Gilroy-Regular", sans-serif;
    color: #626262;
}

.benefits__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.no-webp .question {
    background: url(../img/oblojka.png) center center/cover no-repeat;
}

.question {
    padding: 194px 0 180px 0;
}

.question__flex {
    background: #075f43;
    border-radius: 43px;
    padding: 43px 0 43px 355px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.no-webp .question__flex:after {
    background: url(../img/manager.png) center center no-repeat;
}

.question__flex:after {
    position: absolute;
    content: "";
    top: -15%;
    left: 0;
    width: 300px;
    height: 500px;
}

.question__title {
    max-width: 540px;
}

.question__title h4 {
    font-size: 36px;
    line-height: 43px;
    font-family: "Gilroy-Regular", sans-serif;
    color: #ffffff;
}

.question__title p {
    font-size: 18px;
    font-family: "Gilroy-Regular", sans-serif;
    color: #ffffff;
    margin-bottom: 31px;
    margin-top: 10px;
}

.question__flex form {
    max-width: 540px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.question__flex form button {
    width: 100%;
    max-width: 45%;
    margin-top: 25px;
}

.question__flex form .price__select-item {
    background-color: white;
    padding: 11px;
    border-radius: 10px;
    border: 1px solid #cfcfcf;
}

.question__flex form .price__select-item span {
    border-right: 2px solid #cfcfcf;
    padding-right: 15px;
}

.question__flex form input {
    max-width: 45%;
}

.question__flex form label {
    max-width: 214px;
    margin-top: 25px;
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.question__flex form label p {
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-family: "Gilroy-Regular", sans-serif;
}

.footer {
    padding: 42px 0;
    background: #075f43;
}

.footer__flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.footer__menu ul {
    font-size: 14px;
    line-height: 16px;
    font-family: "Gilroy-Medium", sans-serif;
    color: #ffffff;
}

.footer__menu ul li {
    margin-bottom: 15px;
}

.footer__menu ul a {
    font-size: 14px;
    line-height: 16px;
    font-family: "Gilroy-Medium", sans-serif;
    color: #ffffff;
}

.footer__menu h3 {
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    font-family: "Gilroy-Bold", sans-serif;
    margin-bottom: 10px;
    color: #ffffff;
}

.footer__menu .header__social {
    margin-left: 0;
}

.no-webp .login {
    background: url(../img/login.png) center/cover no-repeat;
}

.login {
    padding: 342px 0;
}

.login__form > label {
    max-width: 214px;
    margin-top: 25px;
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.login__form > label p {
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-family: "Gilroy-Regular", sans-serif;
}

.login__container {
    background: #075f43;
    border-radius: 20px;
    max-width: 600px;
    padding: 38px;
    margin: 0 auto;
}

.login__container h2 {
    font-size: 28px;
    line-height: 33px;
    font-family: "Gilroy-Bold", sans-serif;
    margin-bottom: 20px;
    color: #dbab00;
}

.login__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid #dbab00;
    padding-bottom: 40px;
}

.login__form .btn {
    max-width: 45%;
    width: 100%;
    margin-top: 40px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Gilroy-Bold", sans-serif;
    color: #ffffff;
}

.login__input {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login__input label {
    max-width: 45%;
    width: 45%;
}

.login__input label p {
    font-size: 14px;
    line-height: 16px;
    font-family: "Gilroy-Regular", sans-serif;
    color: #ffffff;
}

.login__input label input {
    margin-top: 15px;
    max-width: 100%;
    width: 100%;
    background: #ffffff;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    padding: 8px;
}

.login__account {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.login__account a {
    display: flex;
    align-items: center;
    background: #ffffff;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    padding: 6px 13px;
    max-width: 45%;
    width: 100%;
}

.login__account a img {
    margin-right: 10px;
}

.login__account a p {
    font-size: 14px;
    line-height: 16px;
    font-family: "Gilroy-Regular", sans-serif;
    color: #626262;
}

.post {
    padding: 120px 0;
}

.post__slide {
    border-radius: 20px;
    overflow: hidden;
}

.post__slide img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.post__slider {
    max-width: 58%;
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.post__slider .swiper-button-prev::after {
    content: none;
}

.post__slider .swiper-button-prev {
    width: 44px;
    height: 44px;
}

.post__slider .swiper-button-next {
    width: 44px;
    height: 44px;
}

.post__slider .swiper-button-next::after {
    content: none;
}

.post__price {
    max-width: 40%;
    width: 100%;
    background: #ffffff;
    border: 1px solid #cfcfcf;
    box-shadow: 0px 4px 30px #dce3f4;
    border-radius: 20px;
}

.post__main {
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.post__price {
    padding: 40px 35px;
}

.price__cost {
    margin: 0 auto;
    max-width: 140px;
    margin-bottom: 28px;
}

.price__cost span {
    font-family: "Gilroy-Bold", sans-serif;
    font-size: 36px;
    line-height: 44px;
    color: #075f43;
}

.price__cost p {
    font-size: 24px;
    line-height: 29px;
    color: #626262;
    font-family: "Gilroy-Bold", sans-serif;
    margin: 15px 0;
}

.price__manager {
    padding-top: 28px;
    border-top: 1px solid #626262;
}

.price__manager .manager__phone {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
}

.price__manager .manager__phone a {
    padding-bottom: 5px;
    padding-top: 5px;
}

.price__manager .manager__viber {
    padding-left: 20px;
}

.price__manager .manager__viber a {
    padding-bottom: 5px;
    padding-top: 5px;
}

.manager__post {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 15px;
}

.manager__post a {
    font-size: 18px;
    line-height: 21px;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    color: #dbab00;
    font-family: "Gilroy-Regular", sans-serif;
}

.post__atribute {
    display: flex;
    align-items: center;
    padding: 40px 0 40px 26px;
}

.post__atribute .atribute {
    background: #eeeeee;
    border: 1px solid #626262;
    border-radius: 6px;
    padding: 8px 11px;
    margin-right: 16px;
}

.post__atribute .atribute p {
    font-size: 16px;
    line-height: 126.7%;
    font-family: "Gilroy-Regular", sans-serif;
    color: #333333;
}

.post__atribute .atribute-yellow {
    background: #dbab00;
}

.no-webp .post {
    background: url(../img/postsBg.png) top center/cover no-repeat;
}

.post__title {
    max-width: 1040px;
    width: 100%;
    position: relative;
    margin: 15px 0;
    background: #ffffff;
    border-radius: 10px;
    padding: 20px 30px;
    box-shadow: 0px 4px 30px #dce3f4;
}

.post__title h1 {
    font-family: "Gilroy-Bold", sans-serif;
    font-size: 32px;
    line-height: 39px;
    color: #333333;
}

.post__title p {
    font-family: "Gilroy-Regular", sans-serif;
    font-size: 16px;
    line-height: 126.7%;
    color: #333333;
}

.post__info {
    max-width: 1040px;
    width: 100%;
    background: #ffffff;
    border-radius: 10px;
    padding: 20px 30px;
    box-shadow: 0px 4px 30px #dce3f4;
}

.post__info h2 {
    font-family: "Gilroy-Bold", sans-serif;
    font-size: 32px;
    line-height: 39px;
    color: #333333;
}

.info__flex {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.info__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
}

.info__block:not(:last-child) {
    border-right: 1px solid #cfcfcf;
    padding-right: 20px;
}

.info__block h4 {
    font-family: "Gilroy-Bold", sans-serif;
    font-size: 16px;
    line-height: 126.7%;
    text-align: center;
    color: #333333;
}

.info__block span {
    font-size: 16px;
    line-height: 126.7%;
    font-family: "Gilroy-Medium", sans-serif;
    text-align: center;
    color: #333333;
}

.post__description {
    max-width: 1040px;
    width: 100%;
    margin: 15px 0;
    background: #ffffff;
    border-radius: 10px;
    padding: 20px 30px;
    box-shadow: 0px 4px 30px #dce3f4;
}

.post__description h2 {
    font-family: "Gilroy-Bold", sans-serif;
    font-size: 32px;
    line-height: 39px;
    color: #333333;
}

.post__description-text {
    padding-top: 30px;
}

.post__description-text p {
    font-size: 14px;
    line-height: 162.7%;
    font-family: "Gilroy-Medium", sans-serif;
    color: #333333;
}

.post__charakter {
    max-width: 1040px;
    width: 100%;
    margin: 15px 0;
    background: #ffffff;
    border-radius: 10px;
    padding: 20px 30px;
    box-shadow: 0px 4px 30px #dce3f4;
}

.post__charakter h2 {
    font-family: "Gilroy-Bold", sans-serif;
    font-size: 32px;
    line-height: 39px;
    color: #333333;
}

.post__charakter-text ul {
    list-style: disc;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.post__charakter-text ul li {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 162.7%;
    font-family: "Gilroy-Regular", sans-serif;
    color: #333333;
}

.post__charakter-text ul li span {
    font-family: "Gilroy-Bold", sans-serif;
}

.post__form {
    max-width: 350px;
    width: 100%;
    padding: 24px 50px;
    background: #075f43;
    box-shadow: 0px 4px 30px #dce3f4;
    border-radius: 20px;
    position: absolute;
    top: 104%;
    right: 12%;
}

.post__form h3 {
    font-size: 36px;
    line-height: 43px;
    color: #ffffff;
    font-family: "Gilroy-Bold", sans-serif;
    margin-bottom: 14px;
}

.post__form p {
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    font-family: "Gilroy-Medium", sans-serif;
    margin-bottom: 15px;
}

.post__form form .price__select-item {
    background-color: #fff;
    padding: 11px;
    border-radius: 10px;
    border: 1px solid #cfcfcf;
    margin-bottom: 24px;
}

.post__form form .price__select-item span {
    border-right: 2px solid #cfcfcf;
    padding-right: 5px;
}

.post__form form .btn {
    width: 100%;
    max-width: 100%;
}

.last__post-item {
    background: #ffffff;
    border: 1px solid #dedede;
    box-shadow: 0px 4px 5px #dce3f4;
    border-radius: 20px;
    padding: 9px 10px;
}

.last__post-img {
    display: block;
    border-radius: 20px;
    overflow: hidden;
}

.last__post-img img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.last__post-detail {
    margin-top: 16px;
}

.last__post-detail h3 {
    font-size: 24px;
    line-height: 29px;
    font-family: "Gilroy-Bold", sans-serif;
    color: #626262;
}

.last__post-detail p {
    margin-top: 12px;
    margin-bottom: 19px;
    font-size: 16px;
    line-height: 126.7%;
    font-family: "Gilroy-Regular", sans-serif;
    max-width: 215px;
    color: #626262;
}

.last__post-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 26px;
}

.last__post-price p {
    font-size: 28px;
    line-height: 34px;
    font-family: "Gilroy-Bold", sans-serif;
    color: #075f43;
}

.last__post-price span {
    font-size: 14px;
    line-height: 17px;
    font-family: "Gilroy-Regular", sans-serif;
    color: #626262;
}

.last__post-price span:not(:last-child) {
    margin-right: 12px;
    padding-right: 12px;
    border-right: 1px solid #c4c4c4;
}

.last {
    padding-bottom: 65px;
}

.no-webp .about {
    background: url(../img/postsBg.png) top center/cover no-repeat;
}

.about {
    padding: 120px 0 40px 0;
}

.about__item {
    padding-top: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 120px;
}

.about__item:nth-child(2n) {
    flex-direction: row-reverse;
}

.about__item:last-child {
    display: block;
}

.about__info {
    max-width: 444px;
}

.about__info h3 {
    font-size: 36px;
    line-height: 43px;
    font-family: "Gilroy-Bold", sans-serif;
    color: #075f43;
    margin-bottom: 32px;
}

.about__info p {
    font-size: 16px;
    line-height: 126.7%;
    font-family: "Gilroy-Medium", sans-serif;
    color: #333333;
    margin-bottom: 15px;
}

.about__info ul {
    max-width: 340px;
}

.about__info ul li {
    font-size: 16px;
    line-height: 126.7%;
    font-family: "Gilroy-Medium", sans-serif;
    color: #333333;
    position: relative;
}

.about__info ul li:not(:last-child) {
    margin-bottom: 52px;
}

.about__info ul li:after {
    content: "";
    display: block;
    position: absolute;
    width: 35px;
    height: 35px;
    background: #dbab00;
    box-shadow: 0px 4px 8px rgba(163, 129, 11, 0.44);
    top: 50%;
    left: -20%;
    transform: translate(0%, -50%);
    border-radius: 50%;
}

.about__img {
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #075f43;
    padding: 14px;
}

.about__img img {
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
}

.about__info-question {
    margin-bottom: 35px;
}

.about__info-question h4 {
    font-size: 24px;
    line-height: 29px;
    font-family: "Gilroy-Bold", sans-serif;
    color: #333333;
    margin-bottom: 15px;
}

.about__info-question p {
    font-size: 14px;
    line-height: 126.7%;
    font-family: "Gilroy-Medium", sans-serif;
    color: #333333;
}

.about__slider {
    overflow: visible !important;
    margin-top: 60px;
    padding-bottom: 100px !important;
}

.about__slider-slide {
    border: 1px solid #075f43;
    border-radius: 50%;
    padding: 15px;
    max-width: 350px;
}

.about__slider-slide .about__slider-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.about__slider-slide .about__slider-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.about__slide-content {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.about__slide-content:hover .about__slider-info {
    transform: translate(0%, 0%);
}

.about__slider-info {
    position: absolute;
    transform: translate(0%, 120%);
    transition: all 0.4s linear;
    top: 0;
    left: 0;
    background: rgba(29, 143, 107, 0.6);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about__slider-info h4 {
    font-size: 24px;
    line-height: 126.7%;
    font-family: "Gilroy-Bold", sans-serif;
    text-align: center;
    color: #ffffff;
    margin-bottom: 15px;
}

.about__slider-info p {
    font-size: 14px;
    line-height: 126.7%;
    font-family: "Gilroy-Medium", sans-serif;
    text-align: center;
    color: #ffffff;
    max-width: 250px;
}

.about__slider-scrollbar {
    background: #e8e8e8 !important;
    height: 10px !important;
    border-radius: 5px !important;
}

.about__slider-scrollbar .swiper-scrollbar-drag {
    background: #075f43;
    box-shadow: 5px 1px 10px rgba(29, 143, 107, 0.6);
    border-radius: 5px;
}

.catalog {
    padding: 80px 0;
}

.catalog__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog__flex .last__post-item {
    max-width: 30%;
    margin-bottom: 20px;
}

@media (max-width: 1440px) {
    .container {
        max-width: 90%;
    }

    .post__title {
        max-width: 765px;
    }

    .post__info {
        max-width: 765px;
    }

    .post__description {
        max-width: 765px;
    }

    .post__charakter {
        max-width: 765px;
    }

    .post__form {
        top: 72%;
    }

    .home__item {
        padding-right: 45px;
    }
}

.webp .main {
    background: transparent url(../img/main.webp) no-repeat;
}

.webp .hero {
    background: url(../img/banner.webp) center center/cover no-repeat;
}

.webp .manager__viber a {
    background: url(../img/viber.webp) left center no-repeat;
}

.webp .manager__phone a {
    background: url(../img/Subtract.webp) left center no-repeat;
}

.webp .question {
    background: url(../img/oblojka.webp) center center/cover no-repeat;
}

.webp .question__flex:after {
    background: url(../img/manager.webp) center center no-repeat;
}

.webp .login {
    background: url(../img/login.webp) center/cover no-repeat;
}

.webp .post {
    background: url(../img/postsBg.webp) top center/cover no-repeat;
}

.webp .about {
    background: url(../img/postsBg.webp) top center/cover no-repeat;
}

